{{>header}}
{{#content}}
<p class="lead">Дата расчёта: {{ date }}</p>
<table class="table table-hover table-striped table-sm table-responsive-md">
  <thead class="thead-light">
      <th scope="col" class="col-auto">Место</th>
      <th scope="col" class="col-auto">Команда</th>
      <th scope="col" class="col-auto">Город базирования</th>
      <th scope="col" class="col-3" style="width: 25%">Состав</th>
      <th scope="col" class="col-auto">Рейтинг</th>
  </thead>
  <tfoot>
      <th scope="col">Место</th>
      <th scope="col">Команда</th>
      <th scope="col">Город базирования</th>
      <th scope="col">Состав</th>
      <th scope="col">Рейтинг</th>
  </tfoot>
  <tbody>
      {{#teams}}
      <tr {{#buildup}}class="table-info"{{/buildup}}>
          <th scope="row">
              {{position}}
          </th>
          <td>
              <a href="/team/{{ id.dir }}/{{ id.page }}.html">
                  {{#buildup}}
                      Сборная
                  {{/buildup}}
                  {{^buildup}}
                      Команда
                  {{/buildup}}
                  {{#captain}}
                  {{#genitive}}
                  <span class="genitive"> {{first}} {{last}}</span>
                  {{/genitive}}
                  {{^genitive}}
                  <span class="captain">(капитан {{nominative.first}} {{nominative.middle}} {{nominative.last}})</span>
                  {{/genitive}}
                  {{/captain}}
              </a>
          </td>
          <td>{{town}}</td>
          <td>
              <a data-toggle="collapse" href="#recap-{{id.full}}">Посмотреть</a>
              <div class="collapse" id="recap-{{id.full}}">
                  {{#lastRecap}}
                      <p>{{name.last}} {{name.first}} {{name.middle}}</p>
                  {{/lastRecap}}
                  {{^lastRecap}}
                      <p>Не указан</p>
                  {{/lastRecap}}
              </div>
          </td>
          <td><b>{{rating}}</b></td>
      </tr>
      {{/teams}}
  </tbody>
</table>
{{/content}}
{{#page}}
    {{>pages}}
{{/page}}
{{>footer}}
