<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="https://rating.chgk.info/img/logo.yellow.png" alt="Логотип" width="30" height="30"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{#nav.root}}active{{/nav.root}}">
        <a class="nav-link" href="/">Рейтинг</a>
      </li>
      <li class="nav-item {#nav.releases}active{/nav.releases}">
        <a class="nav-link" href="/releases.html">Релизы</a>
      </li>
      <li class="nav-item {{#nav.tournaments}}active{{/nav.tournaments}}">
          <a class="nav-link" href="/tournaments.html">Турниры</a>
      </li>
    </ul>
  </div>
</nav>
