<nav aria-label="Page navigation">
    <ul class="pagination">
        {{#first}}
            {{>pagebtn}}
            <li class="page-item"><span class="page-link"><i class="fas fa-ellipsis-h"></i></span></li>
        {{/first}}
        {{#previous}}
            {{>pagebtn}}
        {{/previous}}
        <li class="page-item active"><a class="page-link" href="{{ prefix }}{{ current.link }}{{ suffix }}">{{ current.text }}</a></li>
        {{#next}}
            {{>pagebtn}}
        {{/next}}
        {{#last}}
            <li class="page-item"><span class="page-link"><i class="fas fa-ellipsis-h"></i></span></li>
            {{>pagebtn}}
        {{/last}}
    </ul>
</nav>
