{{>header}}
{{#content}}
<p class="lead"><a href="/">Актуальный релиз от {{ date }}</a></p>

<h2>Исторические релизы</h2>
<ul>
    {{#releases}}
        <li><a href="/{{ . }}/index.html">Релиз от {{ . }}</a></li>
    {{/releases}}
</ul>
{{/content}}
{{>footer}}
