{{>header}}
{{#content}}
<h1>
  {{#buildup}}
      Сборная
  {{/buildup}}
  {{^buildup}}
      Команда
  {{/buildup}}
  {{#captain}}
  {{#genitive}}
      <span class="genitive"> {{first}} {{last}}</span>
  {{/genitive}}
  {{^genitive}}
      <span class="captain">(капитан {{nominative.first}} {{nominative.middle}} {{nominative.last}})</span>
  {{/genitive}}
  {{/captain}}
</h1>
<p class="lead">
    Рейтинг: {{ rating }}.
    Место в рейтинге: {{ position }}.
</p>

<h2>Состав</h2>
{{#lastRecap}}
    <p>{{name.last}} {{name.first}} {{name.middle}}</p>
{{/lastRecap}}
{{^lastRecap}}
    <p>Не указан</p>
{{/lastRecap}}
<h2>Турниры команды</h2>
<table class="table table-striped">
    <thead>
        <th scope="col col-auto">Турнир</th>
        <th scope="col col-auto">Даты</th>
        <th scope="col col-auto">Место</th>
        <th scope="col col-3" style="width: 25%">Состав</th>
        <th scope="col col-4" style="width: 33%">Результат</th>
    </thead>
    <tfoot>
        <th scope="col" class="col-auto">Турнир</th>
        <th scope="col" class="col-auto">Даты</th>
        <th scope="col" class="col-auto">Место</th>
        <th scope="col" class="col-3">Состав</th>
        <th scope="col" class="col-4">Результат</th>
    </tfoot>
    <tbody>
        {{#tournaments}}
            <tr>
                <td><a href="/tour/{{ info.id.dir }}/{{ info.id.page }}.html">{{info.name}}</a></td>
                <td>{{info.dateEnd}}</td>
                <td>{{position}}</td>
                <td>
                    <a data-toggle="collapse" href="#recap-{{ info.id.full }}">Посмотреть</a>
                    <div class="collapse" id="recap-{{ info.id.full }}">
                        {{#recap}}
                            <p>{{name.last}} {{name.first}} {{name.middle}} <span class="flag">{{ flag }}</span></p>
                        {{/recap}}
                        {{^recap}}
                            <p>Не указан</p>
                        {{/recap}}
                    </div>
                </td>
                <td>
                    <a data-toggle="collapse" href="#res-{{ info.id.full }}" id="count">{{ count }}</a>
                    <div class="collapse" id="res-{{ info.id.full }}">
                        <p>{{ result }}</p>
                    </div>
                </td>
            </tr>
        {{/tournaments}}
    </tbody>
</table>
{{/content}}
{{>footer}}
