{{>header}}
<ul>
    {{#content}}
        <li><a href="/tour/{{ info.id.dir }}/{{ info.id.page }}.html">{{ info.name }} ({{ info.dateStart }} - {{ info.dateEnd }})</a></li>
    {{/content}}
</ul>
{{#page}}
{{>pages}}
{{/page}}
{{>footer}}
