{{>header}}
{{#content}}
<p class="lead">{{ tournDate }}</p>

<table class="table table-hover table-striped table-sm table-responsive-md">
    <thead class="thead-light">
        <th scope="col" class="col-auto">Место</th>
        <th scope="col" class="col-auto">Команда</th>
        <th scope="col" class="col-auto">Город</th>
        <th scope="col" class="col-3">Состав</th>
        <th scope="col" class="col-4">Результат</th>
    </thead>
    <tfoot>
        <th scope="col">Место</th>
        <th scope="col">Команда</th>
        <th scope="col">Город</th>
        <th scope="col">Состав</th>
        <th scope="col">Результат</th>
    </tfoot>
    <tbody>
        {{#teams}}
            <tr>
                <th scope="row">{{ position }}</th>
                <td>
                    <a href="/team/{{ teamId.dir }}/{{ teamId.page }}.html">
                    {{#buildup}}Сборная{{/buildup}}
                    {{^buildup}}Команда{{/buildup}}
                    {{#captain}}
                        {{#genitive}}
                            <span class="genitive"> {{first}} {{last}}</span>
                        {{/genitive}}
                        {{^genitive}}
                            <span class="captain">(капитан {{nominative.first}} {{nominative.middle}} {{nominative.last}})</span>
                        {{/genitive}}
                    {{/captain}}
                </a>
                </td>
                <td>{{ town }}</td>
                <td>
                    <a data-toggle="collapse" href="#recap-{{ teamId.full }}">Посмотреть</a>
                    <div class="collapse" id="recap-{{ teamId.full }}">
                        {{#recap}}
                            <p>{{name.last}} {{name.first}} {{name.middle}} <span class="flag">{{ flag }}</span></p>
                        {{/recap}}
                        {{^recap}}
                            <p>Не указан</p>
                        {{/recap}}
                    </div>
                </td>
                <td>
                    <a data-toggle="collapse" href="#result-{{ teamId.full }}">{{ count }}</a>
                    <div class="collapse" id="result-{{ teamId.full }}">
                        <p>{{ result }}</p>
                    </div>
            </tr>
        {{/teams}}
    </tbody>
</table>
{{/content}}
{{>footer}}
